{% extends 'base.html' %}
{% load static %}

{% block head %}


{% endblock %}


 {% block title %}
	Dashboard
{% endblock %}

{% block side_navbar %}
{% include 'dashboard/dashboard_sidebar.html' %}
{% endblock %}

{% block dashboard_menu %}
<div class="d-sm-block d-md-none">
    <div class="small-sidebar-menu col-12">
        <ul>
            <li>
                <a href="{% url 'dashboard' %}" class="text-white px-3">Providers</a>
            </li>
            {% if perms.ford3.view_user %}
            <li>
                <a href="{% url 'dashboard-users' %}" class="text-white px-3">Users</a>
            </li>
            {% endif %}
        </ul>
    </div>

</div>
{% endblock %}


{% block body %}
<div class='row'>
    <div class='col'>
        <h3>Providers</h3>
    </div>
    {% if perms.ford3.add_provider %}
    <div class='col-xs-8
                col-sm-6
                col-md-4
                col-lg-3
                col-xl-2'>
        <a href="{% url 'new-provider' %}" class='edu-button edu-button-orange'>Add a provider</a>
    </div>
    {% endif %}
</div>
	<div class='row'>
    <div class='col-12'>
            {% if providers %}
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                    <th scope="col">Provider</th>
                    <th scope="col">Province</th>
                    <th scope="col">Number of campus</th>
                    {% if user.is_superuser or user.is_staff %}
                    <th scope="col">Deleted</th>
                    {% endif %}
                    <!-- <th scope="col">Number of qualifications</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for provider in providers %}
                    <tr>
                    <th scope="row">
                        <a href="{% url 'show-provider' provider_id=provider.id %}">{{ provider.name }}</a>
                    </th>
                    <td>{{ provider.province__name }}</td>
                    <td>{{ provider.number_of_campus }}</td>
                    <!-- <td>1000</td> -->
                    {% if user.is_superuser or user.is_staff %}
                    <td>{{ provider.deleted }}</td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% else %}
                No providers yet.
            {% endif %}
    </div>
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
