{% extends "index.html" %}

	{% block parent-body %}
	<div class='row text-center mt-5'>
	    <div class='col-md-4 mx-auto'>
	        <h1 class="text-muted">Sent</h1>
	        <p class="lead">Password reset is sent to your inbox</p>
	        <p class="lead text-muted">
	            Please check your inbox and click on the given link to change password. <br />
                It takes time for the email to be on your inbox. <br />
                Otherwise, make sure if have supplied the correct email address.
	        </p>

	    </div>
	</div>
	{% endblock %}
