{% extends 'registration/login.html' %}

{% block title %}{{ title }}{% endblock %}


        {% block registration %}
            <div class="row mt-4">
                <div class="col-md-12">
                    <!-- <h4 class="text-center text-white">{{ title }}</h4> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-white text-center">Please enter your email address.</p>
                </div>
            </div>
              <form method="post">
                {% csrf_token %}
                      {% for field in form  %}
                          <div class="row">
                            <div class="col-md-12 py-2 text-white">
                              {{ field.label }}
                              {{ field }}
                              {{ field.errors }}
                            </div>
                          </div>
                      {% endfor  %}
                <div class="row">
                    <button class="edu-button edu-button-orange mx-3 my-4" type="submit">Reset Password</button>
                </div>
              </form>
            {% endblock %}
