{% extends 'registration/login.html' %}

{% block title %}{{ title }}{% endblock %}

{% block registration %}
    <div class="row mt-3">
        <div class="col-md-12">
            <h4 class="text-center text-white">Set a new password</h4>
        </div>
    </div>
        <form method="POST">
            {% csrf_token %}
    <div class="row">
        <div class="col-md-12 py-2 text-white">
              {{ form.as_p  }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 py-4">
                <button class="edu-button edu-button-orange" type="submit">Change my password</button>
        </div>
    </div>

        </form>
{% endblock %}
