psycopg2-binary
Django==2.1.7
django-crispy-forms
django-braces
django-model-utils
django-pipeline
django-pure-pagination
django-reversion
django-formtools==2.1

easy-thumbnails
django-widget-tweaks
raven
django-grappelli
django-allauth
# support special characters
Unidecode

# Production test related
selenium==3.141.0
django-test-without-migrations==0.6
