body {
  font-family: Lato;
}

.selected {
    background: #83cbd1;
    color: #ffffff;
}

button.arrow-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #ffffff;
  height: 5px;
  border: none;
  width: 61px;
  height: 48px;
  cursor: pointer;
}

button.left-arrow-button {
  background-image: url('../images/ui/left-arrow.svg');  
}

button.left-arrow-grey-button {
  background-image: url('../images/ui/left-arrow-grey.png');
}

button.left-arrow-button:focus, button.left-arrow-button:active {
    background-image: url('../images/ui/left-arrow-bold.png');
    outline: none !important;
    box-shadow: none;
}

button.right-arrow-button {
  background-image: url('../images/ui/right-arrow.png');
}

button.right-arrow-grey-button {
  background-image: url('../images/ui/right-arrow-grey.png');
}

button.right-arrow-button:focus, button.right-arrow-button:active {
    background-image: url('../images/ui/right-arrow-bold.png');
    outline: none !important;
    box-shadow: none;
}

.qualif-texts {
  color: #7acdcf;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.qualif-texts.disabled {
    color: #d5d5d5 !important;
}


.campus-all-qualifications {
  border: 1px solid #aaaaaa;
}

.saqa-all-qualifications {
  border: 1px solid #aaaaaa;
}

.search-qualifications {
  background-image: url('../images/ui/zoom.svg');
  background-repeat: no-repeat;
  background-position: 1%;
  border: none !important;
  padding-left: 2rem !important;
}

#saqa-qualifications-list, #campus-qualifications-list {
  width: 100%;
  height: 370px;
  list-style: none;
  color: #464746;
  line-height: 27px;
  padding-left: 0.1rem;
  overflow-y: auto;
}

#campus-qualifications-list {
  height: 480px;
}

#saqa-qualifications-list a:link, #campus-qualifications-list a:link {
  color: darkred;
  text-decoration: underline;
}

button.edu-button-blue {
  font-size: 20px;
}
.btn-default {
  font-size: 20px;
}

.remove-campus-event-button-inner {
    line-height: 2.7rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.remove-campus-event-button {
    background-color: var(--c-orange);
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -0.25rem;
}
