.nav-wizard-steps {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-actions {
    text-align: center;
}

.form-steps-count {
    padding-top: 35px;
    vertical-align: middle;
}

.helptext {
    font-size: 10pt;
}

.nav-link {
    padding-top: 20px;
}

.nav-item, .nav-link {
    border-radius: 0 !important;
}

.disabled h4 {
    color: #d5d5d5;
}

.nav-link.disabled {
    color: #d5d5d5 !important;
    border: 1px solid #d5d5d5;
}

.nav-link.done {
    color: #7ed321 !important;
    border: 1px solid #7ed321;
}

.nav-link.done h4 {
    color: #7ed321 !important;
}

.nav-link.active {
    background-color: white !important;
    color: #7dccd0 !important;
    border: 1px solid #7dccd0;
}