.nav-wizard-steps {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    padding-right:  2.3rem;
}

.form-actions {
    text-align: center;
}

.form-steps-count {
    padding-top: 35px;
    vertical-align: middle;
}

.helptext {
    font-size: 10pt;
}

.nav-link {
    padding-top: 20px;
}

.nav-item, .nav-link {
    border-radius: 0 !important;
}

.nav-item {
    position: relative;
    height: 110px;

}

.nav-link-triangle {
    position: absolute;
    top: 7px;
    right: -34px;
    transform: rotate(60deg) skewX(30deg);
    height: 70px;
    width: 70px;
    z-index: 2;
    border-right: 1px solid;
    border-top: 1px solid;
    border-radius: 3px;
}

.nav-link {
    border-right: none !important;
    border-left: none !important;
    margin-left: 15px;
}

.nav-link.first {
    border-left: 1px solid !important;
    margin-left: 1px;
    padding-left: 45px;
}

.nav-link-triangle.done {
    border-right: 1px solid var(--c-blue-l);
    border-top: 1px solid var(--c-blue-l);
}

.nav-link-triangle.active {
   border-top: 1px solid #7ed321;
   border-right: 1px solid #7ed321;
}

.nav-link-triangle.disabled {
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}

.disabled h4 {
    color: #d5d5d5;
}

.nav-link.disabled {
    color: #d5d5d5 !important;
    border: 1px solid #d5d5d5;
}

.nav-link.done {
    color: var(--c-blue-l) !important;
    border: 1px solid var(--c-blue-l);
}

.nav-link.done h4 {
    color: #7dccd0 !important;
}

.nav-link.active {
    background-color: white !important;
    color: #7ed321 !important;
    border: 1px solid #7ed321;
}

.nav-item-number {
    background-color: var(--c-orange);
    border-radius: 50%;
    width: 2.1rem;
    height: 2.1rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 27.5%;
    line-height: 2.5rem;
    left: 50px;
}

.first .nav-item-number {
    left: 1rem;
}

.done .nav-item-number {
    background-color: #7dccd0;
}


.active .nav-item-number {
    background-color: #7ed321;
}

.disabled .nav-item-number {
    background-color: #d5d5d5
}

.first .nav-item-caption {
    text-align: left;
    padding-left: 8px;
}

.nav-item-caption {
    text-align: left;
    display: table-cell;
    height: 75px;
    vertical-align: middle;
}

.nav-item-number-placeholder {
    width: 50px;
    display: table-cell;
    height: 75px;
}

.nav-item-number-inner {
    width: 100%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 0;
    line-height: 2;
}

.nav-wizard-steps {
    height: 75px
}

.nav-item {
    height: 75px
}

.nav-link {
    height: 75px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 60px;
}

h4.list-group-item-heading.active {
    color: #7ed321 !important;
}

.form-check-inline {
    padding-top: 10px;
}

.multiple-select-square {
    display: inline-block;
    text-align: center;
    padding-top: 17px;
    width: 160px;
    height: 60px;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    font-size: 12pt;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.multiple-select-square:hover {
    cursor: pointer;
    background-color: rgba(252, 181, 59, 0.41) !important;
}

.multiple-select-square.selected {
    background-color: #FCB53B !important;
}

.multiple-select-square.turquoise {
    background-color: rgba(122, 205, 207, 0.5);
}

.multiple-select-square.turquoise.odd {
    background-color: rgba(122, 205, 207, 0.25);
}

.multiple-select-square.gray {
    background-color: #efeee9;
}

.multiple-select-square.gray.odd {
    background-color: #d5d5d5;
}

