{% extends "index.html" %}
{% load static %}

{% block head %}

{% endblock %}

{# navbar  #}
{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block parent-body %}
	<div class="container-fluid mt-5">
		<div class="row px-0">
			{# sidebar #}
			{# we need this block to disable the block in provider_form.html #}
			{% block side_navbar %}
				<nav id="sidebar"
				     class="col-md-3 col-lg-3 col-xl-2 px-0 d-none d-sm-none d-lg-block">
					{% include 'main_sidebar.html' %}
				</nav>
				{# end of sidebar #}
			{% endblock %}
			{# content #}
			<div class='container mt-3 col-md-9 col-lg-9 col-xl-10 mb-5'>
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
