{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    {{ wizard.form.media }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/wizard_form.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/campus_form.css' %}">          
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/libs/jquery-ui-1.12.1-custom/jquery-ui.min.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ campus }} Campus Details</h2>
        <div class="row">
            <div class="col-lg-12">
                    <ul class="nav-wizard-steps nav nav-pills nav-fill">
                        {% for form_name in form_name_list %}
                            <li class="nav-item">
                            {% if forloop.counter == wizard.steps.step1 %}
                                <div class="step-active"> {{ forloop.counter }}</div>
                            {% elif forloop.counter < wizard.steps.step1 %}
                                <img src="{% static 'images/ui/checked.png' %}" class="step-checked"/>
                            {% endif %}
                                <a class="nav-link
                                {% if forloop.counter == wizard.steps.step1 %}
                                    active
                                {% elif forloop.counter < wizard.steps.step1 %} done {% else %} disabled {% endif %}" href="#">
                                    <h4 class="list-group-item-heading">
                                        {{ form_name }}</h4>
                                    <p class="list-group-item-text"></p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% crispy wizard.form wizard.form.helper %}
                        {% else %}
                            {% crispy wizard.form wizard.form.helper %}
                        {% endif %}

                        {% if wizard.steps.step1 == 4 %}
                                <div class='col-md-5 campus-all-qualifications float-md-left'>
                                    <h5 class="text-center pt-2">All qualifications in {{ campus }} campus</h5>
                                    <ul id='campus-qualifications-list'>
                                    </ul>
                                </div>
                                <div class='col-md-2 text-center pt-5 mt-5 float-md-left'>
                                        <p class="qualif-texts">add</p>
                                    <button type='button'
                                            class='left-arrow-button'
                                            data-action='add-qualif'>
                                    </button>
                                    <br />
                                    <br />
                                    <button type='button'
                                            class='right-arrow-button'
                                            data-action='remove-qualif'>
                                    </button>
                                    <p class="qualif-texts">remove</p>
                                </div>
                                <div class='col-md-5 saqa-all-qualifications float-md-left'>
                                    <h5 class="text-center pt-2">All qualifications</h5>
                                        <div class='col-md-10 pl-1 pt-2 float-md-left border-bottom'>
                                            <input type='text' data-action='search-qualif' class="search-qualifications" value="Search Qualifications" />
                                        </div>
                                        <div class="col-md-2 pt-2 float-md-right">
                                            <button type='button' class="btn-danger btn-default"
                                                    data-action='clear-qualifs'>
                                                clear&nbsp;
                                            </button>
                                        </div>
                                    <div class='col-md-12 float-left pl-1'>
                                        <ul id='saqa-qualifications-list'></ul>
                                    </div>
                                </div>
<style>

</style>
                        {% endif %}                        
                    </div>
                <div class="clearfix"></div>
                    <div class="row form-actions">
                        <div class="col-md-4">
                            {% if wizard.steps.prev %}
                                <button class="edu-button edu-button-blue"
                                        name="wizard_goto_step" type="submit"
                                        value="{{ wizard.steps.prev }}">
                                    Back
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <p class="form-steps-count">
                                Page {{ wizard.steps.step1 }}
                                of {{ wizard.steps.count }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <button class="edu-button edu-button-blue"
                                    type="submit"
                                    value="submit">
                                {% if wizard.steps.next %}
                                    Next
                                {% else %}
                                    Submit
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript"
            src="{% static 'js/libs/jquery-ui-1.12.1-custom/jquery-ui.min.js' %}"></script>
    {% if wizard.steps.step1 == 3 %}
        <script type="text/javascript"
                src="{% static 'js/datepicker.js' %}"></script>
    {% endif %}
    {% if wizard.steps.step1 == 4 %}
        <script type="text/javascript"
                src="{% static 'js/campus_form_qualifications.js' %}"></script>
    {% endif %}

{% endblock %}