{% extends "index.html" %}
{% load static %}


{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h3>{{ campus }}</h3>

            <div class='row'>
                <div class='col-md-10'>
                    <h4>1. Campus Information</h4>
                </div>
                <div class='col-md-2'>
                    <a class="edu-button edu-button-orange" href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id %}">Edit</a>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-4'>
                    <p>Tel. Number: {{ campus.telephone }}</p>
                    <p>Max number of Students per year in Campus: {{ campus.max_students_per_year }}</p>
                </div>
                <div class='col-md-4'>
                    <p>Physical address: {{ campus.physical_address_street_name }}, {{ campus.physical_address_city }} {{ campus.physical_address_postal_code }}</p>
                </div>
                <div class='col-md-4'>
                    <ul>
                    {% for event in campus.events %}
                        <li>{{ event.name }} - {{ event.date_start }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>



            <h4>2. Qualification Information</h4>
            <div class='row'>
                <div class='col-md-12'>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Qualification name</th>
                                <th>Last Edited</th>
                                <th>Completion rate</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qualification in campus.qualifications %}
                                <tr>
                                    <td>
                                        {{ qualification.saqa_qualification__name }} (SAQA_ID: {{ qualification.saqa_qualification__saqa_id }})
                                    </td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>
                                        <a class="edu-button edu-button-orange" href="{% url 'show-qualification' provider_id=provider.id campus_id=campus.id qualification_id=qualification.id %}">Show</a>
                                        <a class="edu-button edu-button-orange" href="{% url 'edit-qualification' provider_id=provider.id campus_id=campus.id qualification_id=qualification.id %}">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script type='text/javascript'>
let sidebar = document.getElementById('sidebar')
sidebar.classList.toggle('active')
</script>


{% endblock %}
