{% extends "base.html" %}
{% load static %}
{% load change_value %}

{% block title %}{{ campus.name }} • Overview{% endblock %}

{% block body %}
<div class='row'>
    <div class='col-md-12'>
    {% autoescape off %}
        <h3>{{ campus }}</h3>
        
        <div class='row'>
            <div class='col-md-10'>
                <h4 class="mt-3 pb-2 edu-underline">1. Details</h4>
            </div>
            
            {% if perms.ford3.change_campus %}
            <div class='col-md-2'>
                <a href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id  %}?step=campus-details" class='edu-button edu-button-orange p-0'>Edit</a>
            </div>
            {% endif %}
            
        </div>
        <div class='row py-4'>
            <div class='col-md-12'>
                <p><b>Telephone number</b> {{ campus.telephone|is_none }}</p>
                <p><b>E-mail address</b> {{ campus.email|is_none }}</p>
                <p><b>Annual student capacity</b> {{ campus.max_students_per_year|is_none }}</p>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-10'>
                <h4 class="mt-3 pb-2 edu-underline">2. Location</h4>
            </div>
            {% if perms.ford3.change_campus %}
            <div class='col-md-2'>
                <a href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id  %}?step=campus-location" class='edu-button edu-button-orange p-0'>Edit</a>
            </div>
            {% endif %}
        </div>
        <div class='row'>
            <div class='col-md-6 py-4'>
                <p><b>Physical address</b></p>
                <p>{{ campus.physical_address|is_none }}</p>
            </div>
        </div>

        <div class='row py-4'>
            <div class='col-md-10'>
                <h4 class='mt-3 pb-2 edu-underline'>3. Important Dates</h4>
            </div>
            {% if perms.ford3.change_campus %}
            <div class='col-md-2 text-center'>
                <a href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id  %}?step=campus-dates" class='edu-button edu-button-orange p-0'>Edit</a>
            </div>
            {% endif %}
        </div>

        <div class='row py-3'>
            <div class='col-md-12'>
                {% if campus.events|length == 0 %}
                    <p class='text-muted'>No events yet</p>
                {% endif %}
                {% for event in campus.events %}
                    <p>
                        <b>{{ event.name }}:</b> {{ event.date_start }} - {{ event.date_end }}
                        <a href="{{ event.http_link }}" target="_blank">{{ event.http_link }}</a>
                    </p>
                {% endfor %}
                </ul>

            </div>
        </div>
        <div class='row'>
        </div>

        <div class='row py-4'>
            <div class='col-md-10'>
                <h4 class='mt-3 pb-2 edu-underline'>4. Available qualifications</h4>
            </div>
            {% if perms.ford3.change_campus %}
            <div class='col-md-2 text-center'>
                <a href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id  %}?step=campus-qualifications" class='edu-button edu-button-orange p-0'>Edit</a>
            </div>
            {% endif %}
        </div>

        <div class='row no-gutters'>
            <div class='col-md-12'>
                <table class='table table-borderless'>
                    <thead>
                        <tr class='row text-purple no-gutters'>
                            <th class="col-md-7 align-middle text-center">Qualifications</th>
                            <th class="col-md-3 align-middle text-center">Last edited</th>
                            <th class="col-md-2 align-middle text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for qualification in campus.qualifications %}
                            <tr class="row border-bottom no-gutters h-100">
                                <td class="col-md-7 my-auto mx-auto">
                                    <a class='text-left' href="{% url 'show-qualification' provider_id=provider.id campus_id=campus.id qualification_id=qualification.id %}">{{ qualification.saqa_qualification__name }} (SAQA_ID: {{ qualification.saqa_qualification__saqa_id }})</a>
                                </td>
                                <td class=" col-md-3 my-auto mx-auto text-center">
                                    <span class='h-100'>{{ qualification.edited_at }}</span>
                                </td>
                                <td class=" col-md-2 my-auto mx-auto">
                                    {% if perms.ford3.change_qualification %}
                                    <a class="edu-button edu-button-navy edu-button-addon w-100" href="{% url 'edit-qualification' provider_id=provider.id campus_id=campus.id qualification_id=qualification.id %}">Edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endautoescape %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
