{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    {{ wizard.form.media }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/wizard_form.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/campus_form.css' %}">          
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/libs/jquery-ui-1.12.1-custom/jquery-ui.min.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ campus }} Campus Details</h2>
            </div>
            <div class='col-md-12'>
                <ul class="nav-wizard-steps nav nav-pills nav-fill">
                    {% for form_name in form_name_list %}
                        <li class="nav-item">
                            <a class="nav-link
                            {% if forloop.counter == wizard.steps.step1 %}
                                active
                            {% elif forloop.counter < wizard.steps.step1 %} done {% else %} disabled {% endif %}" href="#">
                                <h4 class="list-group-item-heading">
                                    Step {{ forloop.counter }}</h4>
                                <p class="list-group-item-text">{{ form_name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <form action="" method="post">{% csrf_token %}
                    <div class="form-group">
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% crispy wizard.form wizard.form.helper %}
                        {% else %}
                            {% crispy wizard.form wizard.form.helper %}
                        {% endif %}
                        {% if wizard.steps.step1 == 4 %}
                        <div class='row no-gutters'>
                            <div class='col-md-5 campus-all-qualifications'>
                                <h5 class="text-center">All qualifications in {{ campus }} campus</h5>
                                <ul id='campus-qualifications-list'>
                                    {% for qualification in campus.qualifications %}
                                    <li data-saqa-id='{{ qualification.saqa_qualification__saqa_id }}'>
                                        <a href='http://regqs.saqa.org.za/viewQualification.php?id={{ qualification.saqa_qualification__id }}' target='_blank'>({{ qualification.saqa_qualification__saqa_id }})</a> {{ qualification.saqa_qualification__name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class='col-md-2 text-center'>
                                    <p class="qualif-texts">add</p>
                                <button type='button'
                                        class='arrow-button left-arrow-button'
                                        data-action='add-qualif'>
                                </button>
                                <br />
                                <br />
                                <button type='button'
                                        class='arrow-button right-arrow-button'
                                        data-action='remove-qualif'>
                                </button>
                                <p class="qualif-texts">remove</p>
                            </div>
                            <div class='col-md-5 saqa-all-qualifications'>
                                <h5 class="text-center">All qualifications</h5>
                                <div class='row'>
                                    <div class='col-md-9'>
                                        <input type='text' data-action='search-qualif' class="search-qualifications"    placeholder="Search Qualifications" />
                                    </div>
                                    <div class="col-md-3">
                                    <button type='button' class="btn-danger btn-default"
                                                data-action='clear-qualifs'>
                                            clear
                                        </button>
                                    </div>
                                    <hr class='col-md-10' />
                                    <div class='col-md-12'>
                                        <ul id='saqa-qualifications-list'></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}                        
                    </div>
                        {% if wizard.steps.step1 == 3 %}
	                        <div class="row">
								<div class="col-md-8"></div>
	                            <div class="col-md-4">
			                        <div id="add-campus-event" class="edu-button edu-button-orange">
			                            Add event
			                        </div>
	                            </div>
	                        </div>
                        {% endif %}
                    <div class="row form-actions">
                        <div class="col-md-4">
                            {% if wizard.steps.prev %}
                                <button class="edu-button edu-button-blue"
                                        name="wizard_goto_step" type="submit"
                                        value="{{ wizard.steps.prev }}">
                                    Back
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <p class="form-steps-count">
                                Page {{ wizard.steps.step1 }}
                                of {{ wizard.steps.count }}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <button class="edu-button edu-button-blue"
                                    type="submit"
                                    value="submit"
                                    id='my-next-button'>
                                {% if wizard.steps.next %}
                                    Next
                                {% else %}
                                    Submit
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript"
            src="{% static 'js/libs/jquery-ui-1.12.1-custom/jquery-ui.min.js' %}"></script>
    {% if wizard.steps.step1 == 3 %}
        <script type="text/javascript"
                src="{% static 'js/datepicker.js' %}"></script>
	            <script type="text/javascript" src="{% static 'js/campus_event.js' %}"></script>
    {% endif %}
    {% if wizard.steps.step1 == 4 %}
        <script type="text/javascript"
                src="{% static 'js/campus_form_qualifications.js' %}"></script>
    {% endif %}

{% endblock %}
