
<table id="main_result" class="table-responsive responsive-table"></table>
{% csrf_token %}
<script type='text/javascript'>

    const class_delimiter = '__'
    const getCSRFToken = () => {
        return document.querySelector('input[name="csrfmiddlewaretoken"]').value
    }

    const processQualification = (providerId, data, idx, columns) => {
        url = '/providers/' + providerId + '/qualifications/import/'
        let headers = false
        if (idx == 0) {
            headers = true
        }

        const request = new XMLHttpRequest()
        request.open('POST', url, true)
        request.setRequestHeader('Content-Type', 'application/json')
        request.setRequestHeader('X-CSRFToken', getCSRFToken());

        request.onload = function () {
            if (request.status >= 200 && request.status < 400) {
                const result = JSON.parse(request.responseText)

                console.log(result)
                update_result(columns, request.responseText, headers)
            }
        }
        let result = request.send(JSON.stringify(data))
        return result
    }

    const main = () => {
        const data = JSON.parse('{{ data|safe }}')
        const columns = JSON.parse('{{ columns|safe }}')
        const providerId = '{{ provider.id|safe }}'
        let error_log = []

        data.forEach((row, idx) => {

            error_log.push(processQualification(providerId, row, idx, columns))
        })

    }


    const getValue = (oldValue) => {
        if (oldValue == undefined) return ''
        if (oldValue.toString() == "false") {
            return "False"
        } else if (oldValue.toString() == "true") {
            return "True"
        } else return oldValue
    }

    const update_result = (columns, rowReport, headers) => {

        let main_result_div = document.getElementById("main_result")
        let result_object = JSON.parse(rowReport)
        let diffs = result_object['result']['diffs']
        let errors = result_object['result']['errors']

        let header_arr = []
        let value_arr = []

        header_arr.push('<thead>')
        let column_group = `<colgroup>`
        for (var i = 0; i < columns.length; i++){
            column_group += `<col span="1" style="width: 20%;">`
        }
        column_group += '</colgroup>'

        for (var column of columns) {

            let key = column['key']
            let name = column['name']
            if (key in diffs) {
                let header = `<th>${name}</th>`  // Saqa qualification requirement subject name
                let old_value = getValue(diffs[key]['old'])
                let new_value = getValue(diffs[key]['new'])
                var next_cell = ''
                if (old_value == new_value) {
                    next_cell = `<td class='value_same'>${new_value}</td>`
                } else {
                    next_cell = `<td class='value_changed'><div class='old_value'>${old_value}</div><div class='new_value'>${new_value}</div></td>`
                }
                header_arr.push(`${header}`)
                value_arr.push(next_cell)
            }
            if (key in errors) {
                header_arr.push(`<th>${name}</th>`)
                value_arr.push(`<td class="error">${errors[key]}</td>`)
            }
        }
        header_arr.push('</thead>')

        let header_row = '<tr>'
        for (var next_value of header_arr) {
            header_row += `${next_value}`
        }
        header_row += '</tr>'

        let value_row = '<tr>'
        for (var next_value of value_arr) {
            value_row += `${next_value}`
        }
        value_row += '</tr>'
        if (!headers) {
            header_row = ''
        }
        let result = `${column_group}${header_row}${value_row}`
        main_result_div.innerHTML += result

    }

    const get_diff_html = (diffs) => {
        let class_arr = []
        let field_arr = []
        let old_array = []
        let new_arr = []
        for (var key of Object.keys(diffs)) {
            let class_name = key.slice(0, key.indexOf(class_delimiter))
            let field_name = key.slice(key.indexOf(class_delimiter) + class_delimiter.length, key.length)
            class_arr.push(class_name)
            field_arr.push(field_name)
            let old_value = (diffs[key]['old'] == undefined ? '&nbsp' : diffs[key]['old'])
            let new_value = (diffs[key]['new'] == undefined ? '&nbsp' : diffs[key]['new'])
            old_array.push(old_value)
            new_arr.push(new_value)
        }

        let old_arr = old_array.map(function (e) {
            if (e == false) {
                e = "False"
            }
            if (e == true) {
                e = "True"
            }
            return e;
        });
        let header_row = getHeadingArrayHtml(class_arr, "header_row", "th")
        let field_row = getHeadingArrayHtml(field_arr, "field_arr", "td")

        let difference_row = getDifferenceRows(old_arr, new_arr, field_arr.length)
        let content = `<table id='difference_table'>${header_row}${field_row}${difference_row}</table>`
        return content
    }


    const getDifferenceRows = (old_arr, new_arr, length) => {
        let difference_row = '<tr class="difference_row">'

        let next_cell = ''
        for (let i = 0; i < length; i++) {
            let old_value = old_arr[i]
            let new_value = new_arr[i]
            if (old_value == new_value) {
                next_cell = `<td class='value_same'>
                        <div class='value_same_value'>${new_value}</div>`
            } else {
                next_cell = `<td class='value_changed'>
                        <div class='old_value'>${old_value}</div>
                        <div class='new_value'>${new_value}</div></td>`
            }
            difference_row += next_cell
        }
        difference_row += '</tr>'
        return difference_row
    }

    const getSimpleRow = (rowArray, rowName) => {
        let row = '<tr>'
        for (var field of rowArray) {
            row += `<td class='${rowName}'>${field}</td>`
        }
        row += '</tr>'
        return row
    }

    const getHeadingArrayHtml = (rowArray, rowName, tag) => {
        let row = `<tr class="${rowName}">`
        for (let i = 0; i < rowArray.length; i++) {
            let original_heading = rowArray[i]
            let heading = original_heading.toString().replace('_', ' ')
            heading = toTitleCase(heading)
            if ((i > 0) && (original_heading == rowArray[i - 1])) {
                row += `<${tag} class="empty_heading"></${tag}>`
            } else {
                row += `<${tag}>${heading}</${tag}>`
            }
        }
        row += '</tr>'
        return row
    }

    function toTitleCase(str) {
        return str.replace(
            /\w\S*/g,
            function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            }
        );
    }

    main()

    //# sourceURL=import_html.js
</script>

<style>

    td.value_changed {
        background-color: #7ACDCF;
    }

    .old_header {
        width: 100%;
        border-bottom: solid;
    }

    .new_header {
        width: 100%;
    }

    .old_value {
        width: 100%;
        border-bottom: solid;
    }

    .new_value {
        width: 100%;
    }

    #difference_table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #difference_table td, #difference_table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #difference_table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #difference_table tr:hover {
        background-color: #ddd;
    }

    #difference_table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    .error {
        background-color: #FCB53B;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
        color: #5e5d52;
    }

    a {
        color: #337aa8;
    }

    a:hover, a:focus {
        color: #4b8ab2;
    }


    @media (min-width: 48em) {
        .container {
            margin: 2%;
        }
    }

    #main_result {
        margin: 2rem;
    }

    @media (min-width: 75em) {
        .container {
            margin: 2em auto;
            max-width: 75em;
        }
    }

    .responsive-table {
        width: 100%;
        margin-bottom: 1.5em;
        border-spacing: 0;
    }

    @media (min-width: 48em) {
        .responsive-table {
            font-size: 0.9em;
        }
    }

    @media (min-width: 62em) {
        .responsive-table {
            font-size: 1em;
        }
    }

    .responsive-table thead {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    @media (min-width: 48em) {
        .responsive-table thead {
            position: relative;
            clip: auto;
            height: auto;
            width: auto;
            overflow: auto;
        }
    }

    .responsive-table thead th {
        background-color: #2C314F;
        border: 1px solid #2C314F;
        font-weight: normal;
        text-align: center;
        color: white;
    }

    .responsive-table thead th:first-of-type {
        text-align: left;
    }

    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table th,
    .responsive-table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }

    @media (min-width: 48em) {
        .responsive-table tr {
            display: table-row;
        }
    }

    .responsive-table th,
    .responsive-table td {
        padding: 0.5em;
        vertical-align: middle;
    }

    @media (min-width: 30em) {
        .responsive-table th,
        .responsive-table td {
            padding: 0.75em 0.5em;
        }
    }

    @media (min-width: 48em) {
        .responsive-table th,
        .responsive-table td {
            display: table-cell;
            padding: 0.5em;
        }
    }

    @media (min-width: 62em) {
        .responsive-table th,
        .responsive-table td {
            padding: 0.75em 0.5em;
        }
    }

    @media (min-width: 75em) {
        .responsive-table th,
        .responsive-table td {
            padding: 0.75em;
        }
    }

    .responsive-table caption {
        margin-bottom: 1em;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }

    @media (min-width: 48em) {
        .responsive-table caption {
            font-size: 1.5em;
        }
    }

    .responsive-table tfoot {
        font-size: 0.8em;
        font-style: italic;
    }

    @media (min-width: 62em) {
        .responsive-table tfoot {
            font-size: 0.9em;
        }
    }

    @media (min-width: 48em) {
        .responsive-table tbody {
            display: table-row-group;
        }
    }

    .responsive-table tbody tr {
        margin-bottom: 1em;
    }

    @media (min-width: 48em) {
        .responsive-table tbody tr {
            display: table-row;
            border-width: 1px;
        }
    }

    .responsive-table tbody tr:last-of-type {
        margin-bottom: 0;
    }

    @media (min-width: 48em) {
        .responsive-table tbody tr:nth-of-type(even) {
            background-color: rgba(94, 93, 82, 0.1);
        }
    }

    .responsive-table tbody th[scope="row"] {
        background-color: #2C314F;
        color: white;
    }

    @media (min-width: 30em) {
        .responsive-table tbody th[scope="row"] {
            border-left: 1px solid #2C314F;
            border-bottom: 1px solid #2C314F;
        }
    }

    @media (min-width: 48em) {
        .responsive-table tbody th[scope="row"] {
            background-color: transparent;
            color: #5e5d52;
            text-align: left;
        }
    }

    .responsive-table tbody td {
        text-align: right;
    }

    @media (min-width: 48em) {
        .responsive-table tbody td {
            border-left: 1px solid #2C314F;
            border-bottom: 1px solid #2C314F;
            text-align: center;
        }
    }

    @media (min-width: 48em) {
        .responsive-table tbody td:last-of-type {
            border-right: 1px solid #2C314F;
        }
    }

    .responsive-table tbody td[data-type="currency"] {
        text-align: right;
    }

    .responsive-table tbody td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: 0.8em;
        color: rgba(94, 93, 82, 0.75);
    }

    @media (min-width: 30em) {
        .responsive-table tbody td[data-title]:before {
            font-size: 0.9em;
        }
    }

    @media (min-width: 48em) {
        .responsive-table tbody td[data-title]:before {
            content: none;
        }
    }

    th {
        white-space: nowrap !important;
    }

</style>