{% extends 'index.html' %}
{% load static %}
{% block title %}
	Provider Overview
{% endblock %}

{% block side_navbar %}
	{% include 'sidebar.html' %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row no-gutters">
			<div class='col-md-9'>
				<h3>{{ form_data.provider_name }}</h3>
				<h4>Campuses</h4>
				<hr />
			</div>
			<div class='col-md-3'>
				<a href="{% url 'edit-provider' provider_id=provider.id %}" class='edu-button edu-button-orange'>Edit Provider</a>
			</div>
		</div>

		<div class='row justify-content-center no-gutters'>
			{% for campus in provider.campus %}
				<div class='col-md-4 card mb-5 border-0'>
					<div class='campus-card mx-auto'>
						<div class='card-body h-100'>
							<h5 class='card-title'>{{ campus.name }}</h5>
                            {# filler #}
                            <div class="h-50"></div>

                            {# disabled for now #}
							<!--div class='campus-completion-rate'>
								<p>
									<span>20%</span>
									<br />
									complete
								</p>
							</div-->

							<!--ul class='list-inline mt-2'>
								<li class='list-inline-item'>
									Campus Information
									<br />
									<div class='row m-0 p-0'>
										<div class='col-md-9 p-0'>
											<div class="progress">
		  										<div class="progress-bar" role="progressbar" style="width: 40%"aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class='col-md-2 offset-md-1 p-0 m-1'>
											40%
										</div>
									</div>

								</li>
								<li class='list-inline-item'>
									Qualification Information
									<br />
									<div class='row m-0 p-0'>
										<div class='col-md-9 p-0'>
											<div class="progress">
		  										<div class="progress-bar" role="progressbar" style="width: 40%"aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
										<div class='col-md-2 offset-md-1 p-0 m-1'>
											40%
										</div>
									</div>
								</li>
							</ul-->
							<a class="edu-button edu-button-navy align-bottom" href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id %}">Edit Campus</a>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>

{% endblock %}

{% block footer %}
    <script type="text/javascript"
            src="{% static 'js/provider.js' %}"></script>
{% endblock %}
