{% extends 'index.html' %}
{% load static %}

{% block body %}
	<div class="container">
		<form action="{% url 'edit-provider' provider_id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-12">
				{{ form.name }}
				<h1>Welcome, {{ form.name.value }} </h1>
			</div>
			<div class="col-12">
				Thank you for registering your provider on the edugateway
				platform.
				Please fill in your provider details below.
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row edu-underline">
				<h4>Provider Details</h4>
			</div>
			<br>
			<div class="row">
				<div class="col-4 npl">
                    Provider Logo
                    {% if form.provider_logo %}
                        <p class="form_provider_logo">{{ form.provider_logo }}</p>
                    {% endif %}
                    {{ form.provider_logo.errors }}
                </div>
				<div class="col-8">
					<div class="provider-form-photo">
                        {% if form.instance.provider_logo %}
                        <img src="{{ form.instance.provider_logo.url }}" />
                        {% endif %}
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				{{ form.provider_type.errors }}
				<div class="col-4 npl centerv">
					Provider Type:
				</div>
				{{ form.provider_type }}
			</div>
			<div class="row edu-underline">
				<h4>Central Office Contact Details</h4>
			</div>
			<div class="row mt1">
				{{ form.telephone.errors }}
				<div class="col-4 centerv npl">
					Tel. Number:
				</div>
				<div class="col-8">
					{{ form.telephone }}
				</div>
			</div>
			<div class="row mt1">
				{{ form.admissions_contact_no.errors }}
				<div class="col-4 centerv npl">
					Admissions Contact Number:
				</div>
				<div class="col-8">
					{{ form.admissions_contact_no }}
				</div>
			</div>


			<div class="row mt1">
				{{ form.email.errors }}
				<div class="col-4 centerv npl">
					Email:
				</div>
				<div class="col-8">
					{{ form.email }}
				</div>
			</div>

			<div class="row mt1">
				<div class="col-4 npl">
					Physical Address
				</div>
				<div class="col-8">
					{{ form.physical_address_line_1.errors }}
					{{ form.physical_address_line_2.errors }}
					{{ form.physical_address_line_1 }}
					{{ form.physical_address_line_2 }}
					<div class="row">
						<div class="col-lg-7 col-sm-12 mt1">
							{{ form.physical_address_city.errors}}
							{{ form.physical_address_city}}
						</div>
						<div class="col-lg-5 col-sm-12 mt1">
							{{ form.postal_address.errors}}
							{{ form.postal_address }}
						</div>
					</div>
				</div>
			</div>
			{% if is_new_provider %}

				<div class="row mt1 edu-underline">
					<div class="col-8"><h4>Campuses</h4></div>
					<div class="col-4">
						<div id="add-campus-name"
						     class="edu-button edu-button-orange">Add Campus
						</div>
					</div>
				</div>
				<div id="campus-names-input-wrapper">
					<div class="row mt1">
						<div class="col-4 centerv npl">
							Campus Name
						</div>
						<div class="col-7">
							<input name="campus_name" required
							       class="campus_name"
							       type="text"
							       placeholder="•••••••••••••••••"/>
						</div>
						<div class="col-1">
							<div class="remove-campus-button">
								<div class="remove-campus-button-inner ">X</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="row mt1">

			<div class="col-12">
				<button type="submit"
				        class="edu-button edu-button-blue">Submit
				</button>
			</div>
		</div>
	    </form>
    </div>
{% endblock body %}

{% block footer %}
	  <script type="text/javascript"
            src="{% static 'js/provider_form.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'js/provider.js' %}"></script>
{% endblock %}
