{% extends 'index.html' %}
{% load static %}
{% block title %}
	Provider Overview
{% endblock %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block side_navbar %}
	{% include 'sidebar.html' %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row no-gutters">
			<div class='col-md-9'>
				<h3>{{ provider.name }}</h3>
				<h4>Campuses</h4>
				<hr />
			</div>
			<div class='col-md-3'>
				<a href="{% url 'edit-provider' provider_id=provider.id %}" class='edu-button edu-button-orange'>Edit Provider</a>
			</div>
		</div>

		<div class='row justify-content-center no-gutters'>
			{% for campus in provider.campus %}
				<div class='col-md-4 card mb-5 border-0'>
					<div class='campus-card mx-auto'>
						<div class='card-body h-100'>
							<h5 class='card-title'>{{ campus.name }}</h5>
                            {# disabled for now #}
							<!--div class='campus-completion-rate'>
								<p>
									<span>20%</span>
									<br />
									complete
								</p>
							</div-->

							<ul class='list-inline mt-3 text-center'>
                                <li class='list-inline-item'>
                                    Qualifications
                                   <h3 class="text-white">{{ campus.qualifications|length }}</h3>
                                </li>

                                <li class='list-inline-item'>
                                    Events
                                   <h3 class="text-white">{{ campus.events|length }} </h3>
                                </li>
                            </ul>
							<a class="edu-button edu-button-navy align-bottom mt-0" href="{% url 'edit-campus' provider_id=provider.id campus_id=campus.id %}">Edit Campus</a>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript"
            src="{% static 'js/provider.js' %}"></script>
{% endblock %}
