{% extends "index.html" %}
{% load static %}

{% block side_navbar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h3>{{ qualification.campus }} {{ qualification }}</h3>

            <div class='row'>
                <div class='col-md-10'>
                    <h4>1. Details</h4>
                </div>
                <div class='col-md-2'>
                    <a class="edu-button edu-button-orange" href="{% url 'edit-qualification' provider_id=qualification.campus.provider.id campus_id=qualification.campus.id qualification_id=qualification.id %}">Edit</a>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12'>
                    <b>Short Description of this Qualification</b>
                    <p>{{ qualification.short_description }}</p>

                    <b>Long Description of this Qualification</b>
                    <p>{{ qualification.long_description }}</p>
                </div>
                <div class='col-md-6'>
                    <b>NQF Level</b> {{ qualification.nqf_level }}
                </div>
                <div class='col-md-6'>
                    <b>Distance learning</b> {{ qualification.distance_learning }}
                </div>
            </div>



            <h4>2. Duration and Fees</h4>
            <div class='row'>
                <div class='col-md-6'>
                    <p>
                        <b>Full-time qualification</b> {{ qualification.full_time }}
                    <br />

                        <b>Duration of the qualification</b> {{ qualification.duration_in_months }} months
                    </p>
                </div>
                <div class='col-md-6'>
                    <p>
                        <b>Part-time qualification</b> {{ qualification.part_time }}
                    <br />
                        <b>Total cost of the qualification</b> ZAR {{ qualification.total_cost }}
                    </p>
                </div>
            </div>

            <h4>3. Requirements</h4>
            <div class='row'>
                <div class='col-md-12'>
                    {{ qualification.requirements }}
                </div>
            </div>

            <h4>4. Interests and Jobs</h4>
            <div class='row'>
                <div class='col-md-12'>
                    {{ qualifications.occupations }}
                    
                    {{ qualifications.interests }}
                    
                </div>
            </div>

            <h4>5. Important Dates</h4>
            <div class='row'>
                <div class='col-md-12'>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<script type='text/javascript'>
let sidebar = document.getElementById('sidebar')
sidebar.classList.toggle('active')
</script>

{% endblock %}
