{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ qualification }} • Edit qualification{% endblock %}

{% block head %}
{{ wizard.form.media }}
<link rel="stylesheet" type="text/css"
        href="{% static 'css/wizard_form.css' %}">
<link rel="stylesheet" type="text/css"
        href="{% static 'css/libs/jquery-ui-1.12.1-custom/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css"
        href="{% static 'css/qualification_form.css' %}">
{% endblock %}

{% block body %}
<div class="row">
	<div class='col-md-12'>
		<h3>{{ qualification }}</h3>
	</div>
	<div class="col-md-12">
	{% if multi_step_form %}
		<ul class="container nav-wizard-steps nav nav-pills nav-fill">
			{% for form_name in form_name_list %}
				<li class="nav-item">
					<a  href="{% url 'edit-qualification' provider_id=provider.id campus_id=qualification.campus.id qualification_id=qualification.id %}?step={{ form_identifier_list|get_dictionary_item:form_name }}&multi-step=true" class="row nav-link {% if forloop.counter == 1 %}
						first
					{% endif %}
					{% if forloop.counter == wizard.steps.step1 %}
						active
					{% elif forloop.counter < wizard.steps.step1 %} done {% else %} disabled {% endif %}">
                <span class="nav-item-number">
                <span class="nav-item-number-inner">{{ forloop.counter }}</span>
                </span>
                    <span class="col-md-11 nav-item-caption">{{ form_name }}</span>
                </a>
                <span class="nav-link-triangle
                {% if forloop.counter == 1 %}
                    first
                {% endif %}
                {% if forloop.counter == wizard.steps.step1 %}
                    active
                {% elif forloop.counter < wizard.steps.step1 %} done {% else %} disabled {% endif %}">
            </span>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if wizard.steps.step1 == 4 %}
        <div class='row border-bottom mb-3 no-gutters'
                id='occupations-form'>
            <div class='col-md-12'>
                <label>Choose up to five occupations</label>
	            <span id="hint_id_qualification-duration-full_time"
	                  class="text-muted my-0 py-0"
	                  style="text-align: center; vertical-align: top;">
		            &nbsp;&nbsp;-&nbsp;&nbsp;Select at least two occupations for publication</span>
                <input type='hidden' id='list-occupations-url'
                        value='{% url "list-occupations" %}'/>
                <div class='row'>
                    <div class='col-md-4'>
                        <input type='text' id='search-occupations'
                                placeholder='e.g: Accountant'/>
                        <div id='search-no-result'
                                class='d-none mt-2'>
                            <div class='alert alert-danger'>No result</div>
                        </div>
                    </div>
                    <div class='col-md-8 align-middle'>
                        <ul id='the-alphabet' class='m-0 p-0'></ul>
                    </div>
                </div>
                <div class='row mt-2 pt-2 no-gutters'>
                    <div class='col-md-12'>
                        <div class='row no-gutters h-100'>
                            <div class='col-md-12'>
                                <ul id='selected-occupations'
                                    class='m-0 p-0 border-top border-bottom'>
                                    {% for occupation in occupations %}
                                        <li class='h-100'
                                            data-occupation-id='{{ occupation.id }}'>
                                            {{ occupation.name }}
                                            <span>X</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-12'>
                        <div id='occupations-list'></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if wizard.steps.step1 == 5 %}
            <div class='row'>
                <div class='col-md-6'>
                    <input id='create-or-update-event-url'
                            type='hidden'
                            value='{% url "create-or-update-event" owner_id=qualification.id event_type='qualification' %}'/>
                    <input id='delete-event-url' type='hidden'
                            value='{% url "delete-event" event_type='qualification' %}'/>

                    <div id='form-event'>
                        <label class="mt-1">Name*</label>
                        <input required placeholder="eg. Open day"
                                type='text' name='name'/>
                        <label class="mt-1">Start date*</label>
                        <input required placeholder="2019-10-26"
                                type='text' name='date_start'
                                class='mydatepicker'/>
                        <label class="mt-1">End date*</label>
                        <input placeholder="2019-10-28" required
                                type='text' name='date_end'
                                class='mydatepicker'/>
                        <label class="mt-1">Website</label>
                        <input type='text'
                                placeholder="http://www.event-site.co.za"
                                name='http_link'/>
                        <div data-role='new-event-form-error'
                                class='mt-2 alert alert-danger d-none'></div>
                        <div class="row no-gutters">
                            <button class='col-md-4 edu-button edu-button-orange'
                                    data-action='create-event'>Create
                            </button>
                            <button class='col-md-4 edu-button edu-button-orange d-none'
                                    data-action='update-event'>Update
                            </button>
                            <button class='col-md-4 edu-button edu-button-orange d-none'
                                    data-action='cancel-update-event'>Cancel
                            </button>
                        </div>
                    </div>

                </div>
                <div id='events-list' class='col-md-6'>
                    <ul>
                        <li class='event-example event event-list-item d-none pb-3 border-bottom'
                            data-event-id=''>
                                <span class='font-weight-bold'
                                        data-role='name'></span>

                            <div class='row'>
                                <div class='col-md-1 ml-4 font-weight-bold'>Start:</div>
                                <span class='col-md-6'
                                        data-role='date_start'></span>
                            </div>
                            <div class='row'>
                                <div class='col-md-1 ml-4 font-weight-bold'>End:</div>
                                <span class='col-md-6'
                                        data-role='date_end'></span>
                                <div class='col-md-3'></div>
                            </div>
                            <div class='row'>
                                <div class='col-md-1 ml-4 font-weight-bold'>URL:</div>
                                <span class='col-md-6'
                                        data-role='http_link'><a
                                        target='_blank'
                                        href=''></a></span>
                            </div>

                            <button class='edit-event align-self-end col-md-3 edu-button edu-button-blue mb-0'
                                    data-action='edit-event'>Edit
                            </button>
                            <button class='delete-event align-self-end col-md-3 edu-button edu-button-orange'
                                    data-action='delete-event'>Delete
                            </button>
                        </li>
                        {% for event in qualification.events %}
                            <li class='event event-list-item pb-3 border-bottom'
                                data-event-id='{{ event.id }}'>
                                <span class='font-weight-bold'
                                        data-role='name'>{{ event.name }}</span>

                                <div class='row'>
                                    <div class='col-md-1 ml-4 font-weight-bold'>Start:</div>
                                    <span class='col-md-6'
                                            data-role='date_start'>{{ event.date_start|date:"Y-m-d" }}</span>
                                </div>
                                <div class='row'>
                                    <div class='col-md-1 ml-4 font-weight-bold'>End:</div>
                                    <span class='col-md-6'
                                            data-role='date_end'>{{ event.date_end|date:"Y-m-d" }}</span>
                                    <div class='col-md-3'></div>
                                </div>
                                {% if event.http_link %}
                                    <div class='row'>
                                        <div class='col-md-1 ml-4 font-weight-bold'>URL:</div>
                                        <span class='col-md-6'
                                                data-role='http_link'><a
                                                target='_blank'
                                                href='{{ event.http_link }}'>{{ event.http_link }}</a></span>
                                    </div>
                                {% endif %}
                                <button class='edit-event align-self-end col-md-3 edu-button edu-button-blue mb-0'
                                        data-action='edit-event'>Edit
                                </button>
                                <button class='delete-event align-self-end col-md-3 edu-button edu-button-orange'
                                        data-action='delete-event'>Delete
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

    <form class="col-12 pl-0" action="" method="post">{% csrf_token %}
        <div class="form-group">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% crispy wizard.form wizard.form.helper %}
            {% else %}
                {% crispy wizard.form wizard.form.helper %}
            {% endif %}
        </div>

        {% if wizard.steps.step1 == 3 %}
        <div id='subjects-widget' class='row'></div>
        <div class='row'>
            <!-- <div class='col-sm-12'>
                <hr />
            </div> -->
            <div class='col-sm-2'>
                <input id='add-new-subject-form' type='button' value='Add a new subject' class='edu-button edu-button-orange border-0' style='display:none'/>
            </div>
        </div>
        {% endif %}


			<div class="row no-gutters form-actions">
				{% if multi_step_form %}
					<div class="col-md-4">
						{% if wizard.steps.prev %}
							<button class="edu-button edu-button-blue"
							        name="wizard_goto_step" type="submit"
							        value="{{ wizard.steps.prev }}">Prev
								step
							</button>
						{% endif %}
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<button class="edu-button edu-button-blue"
						        type="submit"
						        value="submit"
						        id="my-next-button">
							{% if wizard.steps.next %}
								Next
							{% else %}
								Submit
							{% endif %}
						</button>
					</div>
				{% else %}
					<div class="col-md-4">
						<button class="edu-button edu-button-blue"
						        type="submit"
						        value="submit"
						        id='my-next-button'>Submit
						</button>
					</div>
				{% endif %}
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block footer %}
<script type="text/javascript"
        src="{% static 'js/libs/jquery-ui-1.12.1-custom/jquery-ui.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/qualification_form.js' %}"></script>
{% if wizard.steps.step1 == 3 %}

<script type="text/javascript">
    const SUBJECTS = {{ subjects|safe }}
</script>
<script type="text/javascript"
    src="{% static 'js/qualification_subjects.js' %}">
    </script>
{% endif %}
{% if wizard.steps.step1 == 4 %}
    <script type="text/javascript"
            src="{% static 'js/qualification_occupations.js' %}"></script>
{% endif %}
{% if wizard.steps.step1 == 5 %}
    <script type="text/javascript"
            src="{% static 'js/event.js' %}"></script>
{% endif %}

<script type="text/javascript">
    const toggleFieldDisability = (fieldId, disabled) => {
        const field = document.querySelector(`[data-field="${fieldId}"]`)
        field.disabled = disabled
    }

    const disablerFields = document.querySelectorAll('input[data-disabler]')
    disablerFields.forEach(function(disabler) {
        if (disabler.checked) {
            if (disabler.value == 'True') {
                toggleFieldDisability(disabler.dataset['disabler'], false)
            } else {
                toggleFieldDisability(disabler.dataset['disabler'], true)
            }
        }
        disabler.addEventListener('change', function(evt) {
            if (disabler.value == 'True') {
                toggleFieldDisability(evt.target.dataset['disabler'], false)
            } else {
                toggleFieldDisability(evt.target.dataset['disabler'], true)
            }
        })
    })
</script>
{% endblock %}
