{% extends "base.html" %}
{% load static %}
{% load change_value %}

{% block title %}Dashboard • Users{% endblock %}

{% block side_navbar %}
{% include 'dashboard/dashboard_sidebar.html' %}
{% endblock %}

{% block body %}
<div class='row'>
    <div class='col-md-10'>
        <h3>Users</h3>
    </div>
    {% if perms.ford3.add_user %}
    <div class='col-md-2'>
        <a class='edu-button edu-button-orange' href="{% url 'dashboard-users-add' %}">Add user</a>
    </div>
    {% endif %}
    
    <div class='col-md-12'>
        {% if object_list %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                    <th scope="col">Account active</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                <tr>
                <th scope="row">
                    {{ user.email }}
                </th>
                <td>
                    {{ user.first_name }} {{ user.last_name }}
                </td>
                <td>
                    {% autoescape off %}
                    {{ user.is_active|checked_or_crossed }}
                    {% endautoescape %}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            No users yet.
        {% endif %}
    </div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}
